<?xml version="1.0"   encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 日志打印输出 -->
    <settings>
        <!-- 可以在控制台输出日志信息：sql语句和参数 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 2.设置别名 -->
    <typeAliases>
        <!-- 2.1每一个类型的别名  type属性表示别名对应的类型地址 alias表示起的别名
        由于mybatis支持的别名中只有map没有list和set，单独配置list和set
        -->
        <typeAlias type="java.util.List" alias="list"/>
        <typeAlias type="java.util.Set" alias="set"/>
        <!-- package表示包，利用包的形式进行扫描包之下的所有的类，别名就是当前类名 -->
        <package name="com.team.ddbuy.entity"/>
    </typeAliases>

    <!-- 分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>   